body {
  font-family: "Roboto Slab", serif;
}

@media (min-width: 1600px) {
  .container {
    width: 1370px;
  }
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

/*======================= header ========================*/
.main-header {
  padding: 19px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.main-header .navbar-brand {
  height: auto;
}
.main-header .navbar-default {
  background-color: transparent;
  border: none;
  margin: 0;
}
.main-header .navbar-nav > li {
  padding: 7px;
}
.main-header .navbar-nav > li > a {
  font-size: 15px;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-header .navbar-nav > li > a:hover {
  color: #fff;
  opacity: .8;
}
.main-header .navbar-right {
  padding-top: 30px;
}
.main-header li.book-now {
  border: 2px solid #fff;
  padding: 7px;
  position: relative;
  top: -6px;
}
.main-header li.book-now a {
  background: #fff;
  color: #09424F;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  border: 2px solid transparent;
}
.main-header li.book-now a:hover {
  color: #fff;
  background: #09424F;
  border-color: #fff;
}

/*======================= slider ========================*/
.slider .item {
  background-image: url(../images/024_Open2view_ID346313-264_Brightwater_Road.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
}
.slider .item .overlay {
  background: linear-gradient(157.79deg, rgba(0, 0, 0, 0.324) 46.83%, rgba(56, 56, 56, 0) 86.15%);
  min-height: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .item h1 {
  margin: 0;
  color: #fff;
  font-size: 78px;
  line-height: 1.1923076923;
  max-width: 672px;
  position: relative;
}
.slider .item h1 span {
  position: relative;
  z-index: 2;
}
.slider .item h1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 152px;
  height: 188px;
  border: 11px solid #09424F;
  top: -88px;
  left: -79px;
}
.slider .item p {
  margin: 0;
  font-size: 24px;
  line-height: 1.3333333333;
  color: #fff;
  max-width: 699px;
}
.slider .carousel-indicators li {
  border: none;
  margin: 0;
  border-radius: 0;
  width: 36px;
  height: 6px;
  background: #fff;
  margin: 0 3px;
}
.slider .carousel-indicators .active {
  width: 36px;
  height: 6px;
  margin: 0;
  background-color: #09424F;
}
.slider .container-custom {
  position: absolute;
  bottom: 30%;
  z-index: 5;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.slider .carousel-indicators {
  position: static;
  width: 100%;
  margin: 0;
  text-align: left;
}
.slider .container {
  padding-left: 352px;
}

/*======================= welcome ========================*/
.space {
  padding: 90px 0;
}

.heading {
  padding-bottom: 85px;
}
.heading h2 {
  margin: 0;
  font-size: 13px;
  line-height: 1.3076923077;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #424242;
  margin-bottom: 10px;
}
.heading p {
  max-width: 782px;
  font-size: 24px;
  line-height: 1.3333333333;
  margin: 0 auto;
}

.welcome .img-right {
  padding-left: 40px;
}
.welcome .img-right .profile {
  margin-top: -27%;
  margin-left: -40px;
}
.welcome .img-right .profile > img {
  border: 6px solid #fff;
}
.welcome .content-right h3 {
  margin: 0;
  font-size: 36px;
  line-height: 1.3333333333;
  font-family: "Playfair Display", serif;
  color: #424242;
  display: inline-block;
  position: relative;
  margin-bottom: 33px;
  margin-top: 10px;
}
.welcome .content-right h3 span {
  display: block;
  padding-bottom: 17px;
}
.welcome .content-right h3 .border {
  width: 152px;
  height: 1px;
  background: #DEDEDE;
  display: block;
}
.welcome .content-right h3:after {
  content: "";
  width: 44px;
  height: 2px;
  background: #32A2C7;
  display: block;
  position: relative;
  top: -2px;
  left: 20px;
}
.welcome .content-right p {
  font-size: 15px;
  line-height: 1.5333333333;
  color: #292929;
  font-weight: 300;
}
.welcome .content-right .btn {
  border: 2px solid #0C4452;
  border-radius: 0;
  text-transform: uppercase;
  padding: 14px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #09424F;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 50px;
  margin-bottom: 30px;
}
.welcome .content-right .btn:hover {
  background: #09424F;
  color: #fff;
}
.welcome .content-right small {
  max-width: 344px;
  font-size: 13px;
  color: #292929;
  line-height: 2;
  font-weight: 300;
  display: block;
}

.zoom {
  color: #424242;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 10px;
}

.no-padding {
  padding: 0;
}

/*======================= attractions ========================*/
.attractions {
  background: #09424F;
  color: #EBEBEB;
}
.attractions .custom {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  padding-bottom: 0;
}
.attractions .borders {
  position: absolute;
  height: 100%;
  width: 98%;
  top: 0;
  z-index: 2;
  left: 12px;
}
.attractions .borders .border {
  height: 100%;
  width: 25%;
  border-left: 2px solid #053D4A;
  float: left;
}
.attractions .borders .border:last-child {
  border-right: 2px solid transparent;
}
.attractions .content-wraper {
  margin: 0 -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}
.attractions .content-wraper .col-md-3 {
  border-left: 2px solid #053D4A;
}
.attractions .content-wraper .col-md-3:first-child {
  border-left-color: transparent;
}
.attractions .content-wraper .col-md-3:nth-child(odd) .content {
  background: #E5E5E5;
}
.attractions .content {
  position: relative;
  background: #C1E3EC;
  z-index: 4;
  height: 100%;
}
.attractions .content:after {
  content: "";
  position: absolute;
  left: 14%;
  height: 100%;
  width: 2px;
  background: #FFFFFF;
  top: 0;
}
.attractions .content img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.attractions .content .text-wraper .rotate {
  font-size: 13px;
  color: #2B2B2B;
  padding: 12px;
  padding-left: 37px;
  position: absolute;
  top: 70%;
  left: -43%;
  width: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.attractions .content .text-wraper .text {
  margin-left: 36px;
  padding: 40px 11px 30px 27px;
}
.attractions .content .text-wraper .text a.title {
  font-size: 23px;
  color: #2B2B2B;
  display: inline-block;
  margin-bottom: 19px;
}
.attractions .content .text-wraper .text small {
  display: block;
  font-size: 13px;
  color: #2B2B2B;
  margin-bottom: 15px;
}
.attractions .content .text-wraper .text p {
  font-size: 13px;
  color: #2B2B2B;
}

.section-heading {
  padding-left: 20px;
  position: relative;
  z-index: 3;
}
.section-heading h2 {
  font-size: 52px;
  font-family: "Playfair Display", serif;
  margin: 0;
  margin-bottom: 18px;
}
.section-heading p {
  max-width: 688px;
  font-size: 17px;
  line-height: 1.5;
  position: relative;
  margin-bottom: 20px;
}
.section-heading p:before {
  content: "";
  position: absolute;
  background: #fff;
  height: 100%;
  width: 28px;
  top: 0;
  left: -65px;
}
.section-heading p a {
  color: #B78B61;
  text-decoration: underline;
}

/*======================= facilities ========================*/
.facilities {
  padding-top: 110px;
}
.facilities .contraol {
  height: 77px;
  width: 77px;
  background: #09424F;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  text-decoration: none;
  font-size: 40px;
  position: relative;
  top: -90px;
  right: -8px;
}
.facilities #myCarousel2 {
  max-width: 478px;
}
.facilities .carousel-inner .content {
  position: relative;
  padding: 7px;
}
.facilities .carousel-inner .content:before {
  content: "";
  height: 77px;
  width: 77px;
  background: #C1E3EC;
  position: absolute;
  top: 0;
  left: 0;
}
.facilities .carousel-inner .content img {
  position: relative;
  z-index: 2;
  width: 100%;
}

.facilitie-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.facilitie-list ul li {
  position: relative;
  line-height: 1.8;
  font-size: 15px;
  color: #292929;
}
.facilitie-list ul li:before {
  content: "";
  display: block;
  float: left;
  width: 21px;
  height: 2px;
  background: #32A2C7;
  position: relative;
  top: 13px;
}
.facilitie-list ul li span {
  float: left;
  width: calc(100% - 21px);
  padding-left: 18px;
  display: block;
}

.section-heading2 h2 {
  font-size: 36px;
  color: #292929;
  margin: 0;
  border-bottom: 1px solid #C1E3EC;
  position: relative;
}
.section-heading2 h2 span {
  display: block;
  padding-bottom: 15px;
}
.section-heading2 h2:after {
  content: "";
  height: 2px;
  background: #053D4A;
  width: 148px;
  display: block;
}
.section-heading2 p {
  margin: 30px 0;
  font-size: 15px;
  color: #292929;
  line-height: 1.8666666667;
  max-width: 355px;
  font-weight: 300;
}

/*======================= footer-banner ========================*/
.footer-banner {
  background: url(../images/018_Open2view_ID346313-264_Brightwater_Road%202.png) no-repeat;
  background-size: cover;
}
.footer-banner .overlay {
  background: rgba(9, 66, 79, 0.75);
  color: #fff;
  padding: 77px 0;
}
.footer-banner .overlay h2 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-banner .overlay .button {
  border: 2px solid #fff;
  display: inline-block;
  padding: 6px;
}
.footer-banner .overlay .button a.btn {
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 0;
  padding: 14px 20px;
  -webkit-transition: .3s;
  transition: .3s;
}
.footer-banner .overlay .button a.btn:hover {
  background: #09424F;
}

/*======================= main-footer ========================*/
.main-footer {
  background: #09424F;
  padding-bottom: 22px;
}
.main-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.main-footer ul > li {
  padding: 7px;
  display: inline-block;
}
.main-footer ul > li > a {
  font-size: 15px;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
.main-footer ul > li > a:hover {
  color: #fff;
  opacity: .8;
}
.main-footer .footer-menu {
  padding-top: 25px;
}
.main-footer ul.footer-menu2 {
  color: #fff;
  font-size: 12px;
}
.main-footer ul.footer-menu2 li {
  padding: 0;
}
.main-footer ul.footer-menu2 li a {
  font-size: 12px;
  padding: 0 10px;
}

/*======================= Pages ========================*/
.page-banner {
  background-image: url(../images/027_Open2view_ID346313-264_Brightwater_Road.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
}
.page-banner .overlay {
  background: linear-gradient(148.19deg, rgba(0, 0, 0, 0.2835) 46.76%, rgba(56, 56, 56, 0) 78.35%);
}
.page-banner .overlay .container {
  min-height: 674px;
}
.page-banner .banner-heading {
  color: #fff;
  font-size: 52px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  padding: 0 69px;
}
.page-banner .banner-heading h2 {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 45px;
  top: -57px;
}
.page-banner .banner-heading:after {
  position: absolute;
  content: "";
  background: #09424F;
  height: 74px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.page .welcome .heading {
  padding-bottom: 0;
}

/*======================= attractions Page ========================*/
.attractions-page .attractions .container {
  padding: 0 15px;
  padding-bottom: 70px;
}
.attractions-page .attractions .content-wraper {
  padding-bottom: 40px;
}

.attraction-heading {
  position: relative;
  z-index: 5;
  margin: 51px 0 36px 0;
  font-family: "Playfair Display", serif;
}
.attraction-heading h2 {
  margin: 0;
  padding-left: 23px;
}
.attraction-heading:before {
  content: "";
  width: 28px;
  height: 30px;
  position: absolute;
  left: -30px;
  top: 0;
  background: #fff;
}

.img-full {
  width: 100%;
}

.about-artical {
  color: #454545;
}
.about-artical .wraper {
  max-width: 846px;
  margin: 0 auto;
}
.about-artical img {
  margin-bottom: 40px;
}
.about-artical .radious img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0;
}
.about-artical h3 {
  margin: 0;
  margin-bottom: 20px;
}
.about-artical p {
  margin-bottom: 40px;
}

.contact-details {
  padding: 67px 0 35px 0;
  color: #454545;
}
.contact-details .content {
  padding: 15px 0;
}
.contact-details h3 {
  margin: 0;
  font-size: 24px;
  line-height: 1.3333333333;
  margin-bottom: 17px;
}
.contact-details p {
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
}
.contact-details a {
  color: #454545;
}

.contact-map {
  background: #09424F;
  color: #fff;
  min-height: 533px;
  position: relative;
}
.contact-map .map {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  background: url(../images/map.png) center;
  background-size: cover;
}
.contact-map .map p {
  color: #A18122;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  position: absolute;
  left: -100px;
  top: 108px;
  z-index: 5;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.contact-map .left-content {
  padding: 50px 0;
}
.contact-map h3 {
  margin: 0;
  font-size: 26px;
  margin-bottom: 20px;
}
.contact-map a {
  color: #fff;
}
.contact-map .contact-button {
  max-width: 323px;
  padding-top: 36px;
  padding-bottom: 10px;
}
.contact-map .contact-button a {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #09424F;
  margin-bottom: 17px;
  padding: 15px 12px;
  border: 2px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: 7px;
  outline-width: 2px;
}
.contact-map .contact-button a:hover {
  border-color: #fff;
  background: #09424F;
  color: #fff;
  outline-color: #fff;
}

.rates-page .main-header {
  position: static;
}
.rates-page .navbar-default .navbar-nav > li > a:focus,
.rates-page .navbar-default .navbar-nav > li > a:hover,
.rates-page .navbar-default .navbar-nav > li > a {
  color: #09424F;
}

@media (min-width: 992px) {
  .rates-page .main-header li.book-now a {
    border-color: #09424F;
  }
  .rates-page .main-header li.book-now a:hover {
    color: #fff;
  }
  .rates-page .main-header li.book-now {
    border-color: #09424F;
  }
}
.rates {
  padding-top: 30px;
}
.rates .table > thead > tr > th {
  border: none;
  font-weight: 400;
  color: #454545;
}
.rates .table > tbody > tr > td,
.rates .table > tbody > tr > th,
.rates .table > tfoot > tr > td,
.rates .table > tfoot > tr > th,
.rates .table > thead > tr > td,
.rates .table > thead > tr > th {
  padding: 8px 0;
  border-color: #454545;
  font-size: 17px;
}
.rates .table > tbody > tr:last-child {
  border-bottom: 1px solid #454545;
}

.rates-heading {
  color: #454545;
  margin-bottom: 40px;
}
.rates-heading h2 {
  margin: 0;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.rates-heading h2 span {
  display: block;
  margin-bottom: 10px;
}
.rates-heading h2:after {
  content: "";
  width: 39px;
  height: 1px;
  background: #454545;
  display: block;
}
.rates-heading p {
  font-size: 17px;
  max-width: 925px;
}

.cancel {
  padding-top: 60px;
  padding-bottom: 212px;
}
.cancel .content {
  background: #FFF5D6;
  border: 1px solid #DECFA2;
  color: #454545;
  padding: 30px;
  margin-left: 30px;
  position: relative;
}
.cancel .content .important {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #A18122;
  white-space: nowrap;
  position: absolute;
  top: 44px;
  left: -88px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.cancel .content .cancel-heading h2 {
  margin: 0;
  font-size: 29px;
  font-family: "Playfair Display", serif;
  line-height: 1.3448275862;
  margin-bottom: 4px;
}
.cancel .content .cancel-heading p {
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 27px;
}
.cancel .content ul li::before {
  background: #BA982D;
}

.rates-service {
  background: #09424F;
  padding-top: 0;
}
.rates-service .section-heading2 h2 {
  font-size: 32px;
  border: none;
  color: #fff;
  font-family: "Playfair Display", serif;
}
.rates-service .section-heading2 h2 span {
  padding: 0;
}
.rates-service .section-heading2 h2:after {
  display: none;
}
.rates-service .section-heading2 p {
  margin: 20px 0;
  font-size: 14px;
  max-width: 100%;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
}
.rates-service .facilitie-list {
  padding-top: 50px;
}
.rates-service .facilitie-list ul li span {
  color: #fff;
  font-size: 17px;
  margin-bottom: 5px;
}
.rates-service .service {
  background: url(../images/room-1.png) no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 5px;
  position: relative;
  top: -40px;
  overflow: hidden;
}
.rates-service .service .overlay {
  background: linear-gradient(163.31deg, rgba(0, 0, 0, 0.276) 46.87%, rgba(56, 56, 56, 0) 91.01%);
  height: 100%;
  min-height: 272px;
  padding: 24px;
  position: relative;
}
.rates-service .service .overlay h3 {
  margin: 0;
  font-size: 31px;
  color: #fff;
  font-family: "Playfair Display", serif;
}
.rates-service .service .overlay a.link {
  height: 21px;
  width: 21px;
  display: block;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 22px;
  bottom: 22px;
  text-align: center;
  font-size: 12px;
  color: #09424F;
  line-height: 21px;
  letter-spacing: initial;
}
