$r: 'Roboto Slab',
serif;
$p: 'Playfair Display',
serif;
$bg: #09424F;
@import '_rem';
body {
    font-family: $r;
}

@media (min-width:1600px) {
    .container {
        width: (1340px+30);
    }
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

/*======================= header ========================*/

.main-header {
    padding: (34px-15) 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    .navbar-brand {
        height: auto;
    }
    .navbar-default {
        background-color: transparent;
        border: none;
        margin: 0;
    }
    .navbar-nav > li {
        padding: 7px;
        > a {
            font-size: 15px;
            line-height: (20/15);
            text-transform: capitalize;
            color: #fff;
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover {
                color: #fff;
                opacity: .8;
            }
        }
    }
    .navbar-right {
        padding-top: 30px;
    }
    li.book-now {
        border: 2px solid #fff;
        padding: 7px;
        position: relative;
        top: -6px;
        a {
            background: #fff;
            color: #09424F;
            text-transform: uppercase;
            transition: .3s;
            border: 2px solid transparent;
            &:hover {
                color: #fff;
                background: $bg;
                border-color: #fff;
            }

        }
    }
}

/*======================= slider ========================*/

.slider {
    .item {
        background-image: url(../images/024_Open2view_ID346313-264_Brightwater_Road.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: $p;
        .overlay {
            background: linear-gradient(157.79deg, rgba(0, 0, 0, 0.324) 46.83%, rgba(56, 56, 56, 0) 86.15%);
            min-height: 1024px;
            display: flex;
            align-items: center;

        }

        h1 {
            margin: 0;
            color: #fff;
            font-size: 78px;
            line-height: (93/78);
            max-width: 672px;
            position: relative;
            span {
                position: relative;
                z-index: 2;
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 152px;
                height: 188px;
                border: 11px solid #09424F;
                top: -88px;
                left: -79px;
            }
        }
        p {
            margin: 0;
            font-size: 24px;
            line-height: (32/24);
            color: #fff;
            max-width: 699px;
        }
    }
    .carousel-indicators li {
        border: none;
        margin: 0;
        border-radius: 0;
        width: 36px;
        height: 6px;
        background: #fff;
        margin: 0 (7px-4);
    }
    .carousel-indicators .active {
        width: 36px;
        height: 6px;
        margin: 0;
        background-color: $bg;

    }
    .container-custom {
        position: absolute;
        bottom: 30%;
        z-index: 5;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .carousel-indicators {
        position: static;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .container {
        padding-left: 352px;
    }

}

/*======================= welcome ========================*/

.space {
    padding: 90px 0;
}

.heading {
    padding-bottom: (55px+30);
    h2 {
        margin: 0;
        font-size: 13px;
        line-height: (17/13);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #424242;
        margin-bottom: 10px;
    }
    p {
        max-width: 782px;
        font-size: 24px;
        line-height: (32/24);
        margin: 0 auto;
    }
}

.welcome {
    .img-right {
        padding-left: 40px;
        .profile {
            margin-top: -27%;
            margin-left: -40px;
            > img {
                border: 6px solid #fff;
            }
        }
    }
    .content-right {
        h3 {
            margin: 0;
            font-size: 36px;
            line-height: (48/36);
            font-family: $p;
            color: #424242;
            display: inline-block;
            position: relative;
            margin-bottom: 33px;
            margin-top: 10px;
            span {
                display: block;
                padding-bottom: 17px;
            }
            .border {
                width: 152px;
                height: 1px;
                background: #DEDEDE;
                display: block;
            }
            &:after {
                content: "";
                width: 44px;
                height: 2px;
                background: #32A2C7;
                display: block;
                position: relative;
                top: -2px;
                left: 20px;
            }
        }
        p {
            font-size: 15px;
            line-height: (23/15);
            color: #292929;
            font-weight: 300;
        }
        .btn {
            border: 2px solid #0C4452;
            border-radius: 0;
            text-transform: uppercase;
            padding: 14px 20px;
            font-size: 16px;
            letter-spacing: 2px;
            color: #09424F;
            transition: .3s;
            margin-top: 50px;
            margin-bottom: 30px;
            &:hover {
                background: $bg;
                color: #fff;
            }
        }
        small {
            max-width: 344px;
            font-size: 13px;
            color: #292929;
            line-height: 2;
            font-weight: 300;
            display: block;
        }
    }
}

.zoom {
    color: #424242;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 10px;
}

.no-padding {
    padding: 0;
}

/*======================= attractions ========================*/

.attractions {
    background: $bg;
    color: #EBEBEB;
    .custom {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        padding-bottom: 0;
    }
    .borders {
        position: absolute;
        height: 100%;
        width: 98%;
        top: 0;
        z-index: 2;
        left: 12px;
        .border {
            height: 100%;
            width: (100%/4);
            border-left: 2px solid #053D4A;
            float: left;
            &:last-child {
                border-right: 2px solid transparent;
            }
        }
    }
    .content-wraper {
        margin: 0 -2px;
        display: flex;
        flex-flow: row wrap;
        position: relative;

        .col-md-3 {
            border-left: 2px solid #053D4A;
            &:first-child {
                border-left-color: transparent;
            }
            &:nth-child(odd) {
                .content {
                    background: #E5E5E5;
                }
            }
        }
    }
    .content {
        position: relative;
        background: #C1E3EC;
        z-index: 4; //        margin: 0 1px;
        height: 100%;
        &:after {
            content: "";
            position: absolute;
            left: 14%;
            height: 100%;
            width: 2px;
            background: #FFFFFF;
            top: 0;
        }
        img {
            width: 100%;
            position: relative;
            z-index: 2;
        }
        .text-wraper {

            .rotate {
                font-size: 13px;
                color: #2B2B2B;
                padding: 12px;
                padding-left: 37px;
                position: absolute;
                top: 70%;
                left: -43%;
                width: 100%;
                transform: rotate(-90deg);
            }
            .text {

                margin-left: 36px;
                padding: 40px 11px 30px 27px;
                a.title {
                    font-size: 23px;
                    color: #2B2B2B;
                    display: inline-block;
                    margin-bottom: 19px;
                }
                small {
                    display: block;
                    font-size: 13px;
                    color: #2B2B2B;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 13px;
                    color: #2B2B2B;
                }
            }
        }
    }

}

.section-heading {
    padding-left: 20px;
    position: relative;
    z-index: 3;
    h2 {
        font-size: 52px;
        font-family: $p;
        margin: 0;
        margin-bottom: 18px;
    }
    p {
        max-width: 688px;
        font-size: 17px;
        line-height: 1.5;
        position: relative;
        margin-bottom: 20px;
        &:before {
            content: "";
            position: absolute;
            background: #fff;
            height: 100%;
            width: 28px;
            top: 0;
            left: -65px;
        }
        a {
            color: #B78B61;
            text-decoration: underline;
        }
    }
}

/*======================= facilities ========================*/

.facilities {
    padding-top: 110px; //    padding-bottom: 100px;
    .contraol {
        height: 77px;
        width: 77px;
        background: $bg;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        text-decoration: none;
        font-size: 40px;
        position: relative;
        top: -90px;
        right: -8px;
    }
    #myCarousel2 {
        max-width: 478px;
    }
    .carousel-inner {
        .content {
            position: relative;
            padding: 7px;

            &:before {
                content: "";
                height: 77px;
                width: 77px;
                background: #C1E3EC;
                position: absolute;
                top: 0;
                left: 0;
            }
            img {
                position: relative;
                z-index: 2;
                width: 100%;
            }
        }
    }

}

.facilitie-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        position: relative;
        line-height: (27/15);
        font-size: 15px;
        color: #292929;
        &:before {
            content: "";
            display: block;
            float: left;
            width: 21px;
            height: 2px;
            background: #32A2C7;
            position: relative;
            top: 13px;

        }
        span {
            float: left;
            width: calc(100% - 21px);
            padding-left: 18px;
            display: block;
        }
    }
}

.section-heading2 {
    h2 {
        font-size: 36px;
        color: #292929;
        margin: 0;
        border-bottom: 1px solid #C1E3EC;
        position: relative;

        span {
            display: block;
            padding-bottom: 15px;
        }
        &:after {
            content: "";
            height: 2px;
            background: #053D4A;
            width: 148px;
            display: block;
        }
    }
    p {
        margin: 30px 0;
        font-size: 15px;
        color: #292929;
        line-height: (28/15);
        max-width: 355px;
        font-weight: 300;
    }
}

/*======================= footer-banner ========================*/

.footer-banner {
    background: url(../images/018_Open2view_ID346313-264_Brightwater_Road%202.png) no-repeat;
    background-size: cover;
    .overlay {
        background: rgba(9, 66, 79, 0.75);
        color: #fff;
        padding: 77px 0;
        h2 {
            margin: 0;
            font-family: $p;
            font-size: 35px;
            margin-bottom: 20px;
        }
        .button {
            border: 2px solid #fff;
            display: inline-block;
            padding: 6px;
            a.btn {
                border: 2px solid #fff;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: .2em;
                border-radius: 0;
                padding: 14px 20px;
                transition: .3s;
                &:hover {
                    background: $bg;
                }
            }
        }
    }
}

/*======================= main-footer ========================*/

.main-footer {
    background: $bg;
    padding-bottom: 22px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: right;
    }
    ul > li {
        padding: 7px;
        display: inline-block;
        > a {
            font-size: 15px;
            line-height: (20/15);
            text-transform: capitalize;
            color: #fff;
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            &:hover {
                color: #fff;
                opacity: .8;
            }
        }
    }
    .footer-menu {
        padding-top: 25px;
    }
    ul.footer-menu2 {
        color: #fff;
        font-size: 12px;
        li {
            padding: 0;
            a {

                font-size: 12px;
                padding: 0 10px;
            }
        }
    }
}

/*======================= Pages ========================*/

.page-banner {
    background-image: url(../images/027_Open2view_ID346313-264_Brightwater_Road.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $p;
    .overlay {
        background: linear-gradient(148.19deg, rgba(0, 0, 0, 0.2835) 46.76%, rgba(56, 56, 56, 0) 78.35%);
        .container {
            min-height: 674px;
        }

    }
    .banner-heading {
        color: #fff;
        font-size: 52px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: inline-block;
        padding: 0 69px;
        h2 {
            position: relative;
            z-index: 2;
            margin: 0;
            font-size: 45px;
            top: -57px;
        }
        &:after {
            position: absolute;
            content: "";
            background: $bg;
            height: 74px;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }
}

.page {
    .welcome {
        .heading {
            padding-bottom: 0;
        }
    }
}

/*======================= attractions Page ========================*/

.attractions-page {
    .attractions {

        .container {
            padding: 0 15px;
            padding-bottom: 70px;
        }
        .content-wraper {
            padding-bottom: 40px;
        }
    }
}

.attraction-heading {
    position: relative;
    z-index: 5;
    margin: 51px 0 36px 0;
    font-family: $p;
    h2 {
        margin: 0;
        padding-left: 23px;
    }
    &:before {
        content: "";
        width: 28px;
        height: 30px;
        position: absolute;
        left: -30px;
        top: 0;
        background: #fff;
    }
}

.img-full {
    width: 100%;
}

.about-artical {
    color: #454545;
    .wraper {
        max-width: 846px;
        margin: 0 auto;
    }
    img {
        margin-bottom: 40px;
    }
    .radious {
        img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin: 0;
        }
    }
    h3 {
        margin: 0;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 40px;
    }
}


.contact-details {
    padding: (82px-15) 0 (50px-15) 0;
    color: #454545;
    .content {
        padding: 15px 0;
    }
    h3 {
        margin: 0;
        font-size: 24px;
        line-height: (32/24);
        margin-bottom: 17px;
    }
    p {
        margin: 0;
        font-size: 16px;
        line-height: (28/16);
    }
    a {
        color: #454545;
    }
}

.contact-map {
    background: $bg;
    color: #fff;
    min-height: 533px;
    position: relative;
    .map {
        position: absolute;
        height: 100%;
        width: (100% - 50);
        right: 0;
        top: 0;
        background: url(../images/map.png) center;
        background-size: cover;
        p {
            color: #A18122;
            font-size: 15px;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: 300;
            position: absolute;
            left: -100px;
            top: 108px;
            z-index: 5;
            transform: rotate(-90deg);
        }
    }
    .left-content {
        padding: 50px 0;

    }
    h3 {
        margin: 0;
        font-size: 26px;
        margin-bottom: 20px;
    }
    a {
        color: #fff;
    }
    .contact-button {
        max-width: 323px;
        padding-top: 36px;
        padding-bottom: 10px;
        a {
            display: block;
            width: 100%;
            background: #fff;
            border-radius: 0;
            font-size: 16px;
            text-transform: uppercase;
            color: #09424F;
            margin-bottom: 17px;
            padding: 15px 12px;
            border: 2px solid transparent;
            transition: .3s;
            outline-style: solid;
            outline-color: transparent;
            outline-offset: 7px;
            outline-width: 2px;
            &:hover {
                border-color: #fff;
                background: $bg;
                color: #fff;
                outline-color: #fff;
            }
        }
    }
}



.rates-page {
    .main-header {
        position: static;
    }
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a {
        color: #09424F;
    }

}

@media (min-width:992px) {
    .rates-page {
        .main-header li.book-now a {
            border-color: #09424F;
            &:hover {
                color: #fff;
            }
        }
        .main-header li.book-now {
            border-color: #09424F;
        }
    }
}

.rates {
    padding-top: 30px;
    .table > thead > tr > th {
        border: none;
        font-weight: 400;
        color: #454545;
    }
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 8px 0;
        border-color: #454545;
        font-size: 17px;
    }
    .table > tbody > tr {
        &:last-child {
            border-bottom: 1px solid #454545;
        }
    }
}

.rates-heading {
    color: #454545;
    margin-bottom: 40px;
    h2 {
        margin: 0;
        font-size: 32px;
        font-family: $p;
        margin-bottom: 20px;
        span {
            display: block;
            margin-bottom: 10px;
        }
        &:after {
            content: "";
            width: 39px;
            height: 1px;
            background: #454545;
            display: block;

        }
    }
    p {
        font-size: 17px;
        max-width: 925px;
    }
}

.cancel {
    padding-top: 60px;
    padding-bottom: 212px;
    .content {
        background: #FFF5D6;
        border: 1px solid #DECFA2;
        color: #454545;
        padding: 30px;
        margin-left: 30px;
        position: relative;
        .important {
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #A18122;
            white-space: nowrap;
            position: absolute;
            top: 44px;
            left: -88px;
            transform: rotate(-90deg);
        }
        .cancel-heading {
            h2 {
                margin: 0;
                font-size: 29px;
                font-family: $p;
                line-height: (39/29);
                margin-bottom: 4px;
            }
            p {
                font-weight: 300;
                font-size: 17px;
                margin-bottom: 27px;
            }
        }
        ul li::before {
            background: #BA982D;
        }
    }

}

.rates-service {
    background: $bg;
    padding-top: 0;
    .section-heading2 h2 {
        font-size: 32px;
        border: none;
        color: #fff;
        font-family: $p;
        span {
            padding: 0;
        }
        &:after {
            display: none;
        }
    }
    .section-heading2 p {
        margin: 20px 0;
        font-size: 14px;
        max-width: 100%;
        font-weight: 400;
        color: #fff;
        margin-bottom: 40px;
    }
    .facilitie-list {
        padding-top: 50px;
        ul li span {
            color: #fff;
            font-size: 17px;
            margin-bottom: 5px;
        }
    }
    .service {
        background: url(../images/room-1.png) no-repeat;
        background-size: cover;
        height: 100%;
        border-radius: 5px;
        position: relative;
        top: -40px;
        overflow: hidden;
        .overlay {
            background: linear-gradient(163.31deg, rgba(0, 0, 0, 0.276) 46.87%, rgba(56, 56, 56, 0) 91.01%);
            height: 100%;
            min-height: 272px;
            padding: 24px;
            position: relative;

            h3 {
                margin: 0;
                font-size: 31px;
                color: #fff;
                font-family: $p;
            }
            a.link {
                height: 21px;
                width: 21px;
                display: block;
                background: #fff;
                border-radius: 50%;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                position: absolute;
                right: 22px;
                bottom: 22px;
                text-align: center;
                font-size: 12px;
                color: #09424F;
                line-height: 21px;
                letter-spacing: initial;
            }
        }
    }
}
